/* line 1, main.scss */
body {
  font-size: 18px;
}
/* line 3, main.scss */
body h1 {
  padding-top: 60px;
  font-size: 3em;
}
/* line 7, main.scss */
body h2 {
  font-size: 2em;
}
/* line 9, main.scss */
body h2.active {
  font-size: 3em;
  color: green;
}
